# Excepciones para README.md
!data/README.md

# Ignorar todos los archivos dentro de data
data/*

# Ignorar archivos de entorno virtual
venv/
__pycache__/

# Ignorar los datos
data/raw/*
data/processed/*

# Ignorar modelos entrenados
*.pkl

# Otros archivos ignorados
__pycache__/
*.pyc
.DS_Store
